body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.video-container, .congrats-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
}
.video-container.show {
    display: block;
    background-color: black;
}
.congrats-container.show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.congrats-content {
    text-align: center;
}
.congrats-content img {
    width: 100%;
    height: auto;
}
@media (max-width: 991px) {
    .congrats-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .congrats-content img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
@media (min-width: 992px) {
    .congrats-content {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .congrats-content .col-lg-6 {
        order: 2;
    }
    .congrats-content .col-10 {
        order: 1;
    }
}